@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');



*{
    margin: 0;
}

body{
    background-color:#122620 ;
}

#header{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
   
    
    
}

h1{
    color: #D6AD60;
    font-size: 80px;
    font-family: 'Kalam', cursive;
}

#hero{
    display: flex;
    justify-content: center;
   
}

#hero img{
    width: auto;
    height: 500px;
    border-radius: 100px;
    object-fit: cover
}

p{

    font-family: 'Kalam', cursive;
    text-align: center;
   font-size: xx-large;
    color: #D6AD60;
    padding: 4rem;
}